{% extends "layout.html" %}
{% block content %}
<body>
<h3>ADD A NEW BOOK{{msg}}</h3>
<form action="/Books/bookHomepage" method="POST">
  <label for="bName">Book Name:</label><br>
  <input type="text" id="Name" name="bName" value="The Alchemist"><br>
  <label for="bAuthor ">Author:</label><br>
  <input type="text" id="Author" name="bAuthor" value="Paulo Coelho"><br>
  <label for="bYear">Year:</label><br>
  <input type= int id="year" name="bYear" value=1988><br>
  <label for="bType">Type:</label><br>
  <input type=int id="Type" name="bType" value=2><br>
  <input type="submit" value="Submit">
</form> 
</body>
{% endblock %}



