{% extends "layout.html" %}
{% block content %}
<body>
<h3>ADD A NEW CLUBBER{{msg}}</h3>
<form action="/Customers/allCustomers" method="POST">
  <label for="custName">First Name:</label><br>
  <input type="text" id="Name" name="custName" value="John"><br>
  <label for="custCity">City:</label><br>
  <input type="text" id="City" name="custCity" value="Tel Aviv"><br>
  <label for="custAge">Age:</label><br>
  <input type=int id="Age" name="custAge" value=23><br>
  <input type="submit" value="Submit">
</form> 
</body>
{% endblock %}

